/* Center the form and make inputs smaller */
.my-form {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Custom input style */
  .custom-input {
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* Custom select style */
  .custom-select {
    border: 1px solid #e74c3c;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* Custom button style */
  .custom-button {
    background-color: #27ae60;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .page-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Color de texto deseado */
  }
  .error-message {
    background-color: #f44336; /* Color de fondo rojo */
    color: white; /* Color de texto blanco */
    padding: 10px; /* Espaciado interior */
    border: 1px solid #d32f2f; /* Borde rojo */
    border-radius: 4px; /* Bordes redondeados */
    margin-top: 10px; /* Margen superior para separar de otros elementos */
    text-align: center;
  }
  .producto-cantidad {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .lista-depositos {
    list-style: none;
    padding: 0;
  }
  
  .deposito-item {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  