<div class="page-header">
  <h1>Ingresa tu Movimiento</h1>
</div>

<div *ngIf="errorMensaje" class="error-message">
  {{ errorMensaje }}
</div>

<form (ngSubmit)="enviarDatos()" #formulario="ngForm" class="my-form">
  <div class="form-group">
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad" [(ngModel)]="formularioData.cantidad" required class="form-control custom-input">
  </div>
  <div class="form-group">
  <label for="producto">Producto:</label>
  <select id="producto" name="producto" [(ngModel)]="formularioData.productoId" (change)="cargarCantidadProducto()" required class="form-control custom-select">
    <option *ngFor="let producto of productos" [value]="producto.id">{{ producto.nombre }}</option>
  </select>
</div>
<p>Cantidad total del producto: {{ cantidadProducto }}</p>

<ul>
  <li *ngFor="let deposito of cantidadDeposito">
    {{ deposito.deposito.nombre }} - Cantidad: {{ deposito.cantidad }}
  </li>
</ul> 
  <div class="form-group">
    <label for="movimientoTipo">Tipo de Movimiento:</label>
    <select id="movimientoTipo" name="movimientoTipo" [(ngModel)]="formularioData.movimientoTipoId" required class="form-control custom-select">
      <option *ngFor="let tipo of tiposMovimiento" [value]="tipo.id">{{ tipo.nombre }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="deposito">Depósito:</label>
    <select id="deposito" name="deposito" [(ngModel)]="formularioData.depositoId" required class="form-control custom-select">
      <option *ngFor="let deposito of depositos" [value]="deposito.id">{{ deposito.nombre }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary custom-button">Enviar</button>
</form>


  
